h1, h2, ul, p {
    margin: 0px;
}

/*----------------- Header -------------------*/
header {
    padding: 5vh 5vw;
    position: relative;
}

header .background, .logoDots, .logoLines {
    position: absolute;
    z-index: -1;
    height: auto;
    top: 0;
    right: 0;
    min-width: 100%;
}

.logoDots{
    animation: transparency 5s infinite;
}

.logoLines{
    opacity: 50%;
    transform-origin: right;
    animation: sizing 20s infinite;

}
@keyframes transparency {
    from{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes sizing {
    50%{
        transform: scale(110%);
    }
    100%{
        transform: scale(100%);
    }
}

article>* {
    margin: 5vh 0px;
    text-align: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header .navItem {
    display: none;
}

header article {
    padding: 10vw 0px;
}

/*----------------- About Us -------------------*/

main {
    padding: 5vh 5vw;
    display: block;
}

main>* {
    margin: 2vh 0px;
    text-align: center;
}

main p {
    text-align: left;
}

.horizontalButton {
    display: grid;
    border: none;
    border-radius: 18px;
    width: 150px;
    margin: auto;
    /*To center the button in the middle, left by default*/
}

/*----------------- Stories -------------------*/
#stories{
    padding: 5vh 5vw;
    text-align: center;
    
}

#stories > * {
    margin: 5vh 0px;
}

#stories button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
}

/*----------------- Footer -------------------*/

footer{
    padding: 5vh 5vw;
    text-align: center;
}

footer > * {
    margin: 3vh 0px;
}

@media screen and (min-width: 768px) {

    /*----------------- Header -------------------*/

    header .navItem {
        display: inline-flex;
    }

    header .burgerItem {
        display: none;
    }

    header .logoImg{
        transition: transform 0.5s cubic-bezier(.17,.67,.83,.67);
    }

    header .logoImg:hover{
        
        transform: rotateY(180deg) scale(1.5);
    }

    /*----------------- About Us -------------------*/
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5vw;
    }

    #aboutUs h1,
    h2,
    button {
        grid-column-start: span 2;
    }
    main button{
        transition: transform 0.5s cubic-bezier(.17,.67,.83,.67);
        transform-origin: center left;
    }
    main button:hover{
    
        transform: rotateZ(10deg);
    }

    /*----------------- Stories -------------------*/

    #stories button {
        transition: background-color 0.5s cubic-bezier(.17,.67,.83,.67);
        transition: color 0.5s cubic-bezier(.17,.67,.83,.67);
    }

    #stories button:hover{
        color: #39C2D7;
        background-color: white;
    }

    /*----------------- Footer -------------------*/
    footer{
        text-align: left;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3vh;
    }

    footer > * {
        margin: 0px;
    }
    footer [title="Address"] {
        grid-column-start: 3;
    }
    
    footer [title="Mail"] {
        grid-column-start: 3;
        grid-row-start: 2;
    }
    
    footer [title="Copyright"] {
        grid-column-start: span 2;
        grid-column-end: 8;
        grid-row-start: 2;
    }

}